.bestItemProduct{
    /* padding: 0 20px; */
    display: none;
}

.bestItemProduct__columns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 20px;
    /* padding: 0 20px 20px 20px; */
    margin: 0 20px 15px 20px;
}

.bestItemProduct__columns:nth-child(5){
    border: none;
}

.bestItemProduct__columns__column.productDetail{
    margin-left: 20px;
}

/* style */

.bestItemProduct__img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.bestItemProduct__name{
    font-size: 12px;
    font-family: 'NotoSansKR';
    color: #333;
    margin-bottom: 3px;
}

.bestItemProduct__price{
    font-size: 16px;
    font-weight: 700;
    font-family: 'NotoSansKR';
    margin-bottom: 3px;
}

.bestItemProduct__won{
    font-size: 12px;
    font-family: 'NotoSansKR';
    font-weight: 400;
    color: #333;
    margin-left: 2px;
}

.bestItemProduct__eachPrice{
    font-size: 10px;
    font-family: 'NotoSansKR';
    color: #006064;
    margin-bottom: 3px;
}

.bestItemProduct__review__box{
    display: flex;
    align-items: center;
}

.bestItemProduct__review__box i{
    font-size: 10px;
    color: #ff4081;
}

.bestItemProduct__review__rate,
.bestItemProduct__review__number{
    font-size: 10px;
    font-family: 'NotoSansKR';
    color: #999999;

}

.bestItemProduct__review__rate{
    margin-left: 3px;
    margin-right: 5px;
}

.bestItemProduct__more__box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 40px;
}

.bestItemProduct__more{
    font-size: 14px;
    font-family: 'NotoSansKR';

}

.bestItemProduct.click{
    display: block;
    animation-name: fadein;
    animation-duration: 2s;
}


@keyframes fadein{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}