.item__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px
}

.item__title__box{
    display: flex;
    align-items: center;
}

/* style */

.item__title__headText{
    font-size: 20px;
    font-family: 'NotoSansKR';
    margin-right: 5px;
    font-weight: 700;
}

.item__title__subText{
    font-size: 10px;
    width: 44px;
    height: 18px;
    border-radius: 10px;
    text-align: center;
    padding-top: 3px;
    border: solid 1.5px #D133FF ;
    color: #D133FF ;
    font-family: 'NotoSansKR';
}

.item__title__more, .item__more__arrow{
    font-size: 12px;
    color: #757575;
    font-family: 'NotoSansKR';
}

.item__title__more{
    margin-right: 3px;
}


/* reviewSection */

.reviewSection{
    margin-top: 30px;
}

.reviewSection .item__title__subText{
    color: darkgreen;
    border-color: darkgreen;
}

/* hotItemSection */

.hotItemSection{
    margin-top: 30px;
}

.hotItemSection .item__title__subText{
    color: dodgerblue;
    border-color: dodgerblue;
}

/* Popular search */

.popularSearchSection{
    margin-top: 30px;
}

.popularSearchSection .item__title__subText{
    color: hotpink;
    border-color: hotpink;
}

/* stubbornSection */

.stubbornSection{
    margin-top: 30px;
}

/* popularItemSection */

.bestItemSection{
    margin-top: 30px;
}

.bestItemSection .item__title__subText{
    color: cadetblue;
    border-color: cadetblue;
}